/* Brohoof styles */
span.left-hoof {
  padding-left: 3px;
  padding-right: 1px;
}

span.right-hoof {
  padding-left: 1px;
  padding-right: 2px;
}

.hoof path {
  fill: #b0b5bf !important;
  stroke: #8e939f !important;
}

.uphoof path {
  fill: #8bc5d8 !important;
  stroke: #439fee !important;
}

.downhoof path {
  fill: #f29f9b !important;
  stroke: #e4504c !important;
}

a:hover span.control {
  opacity: 1 !important;
}

.bright {
  opacity: 1 !important;
}
